# CI workflow for validating action
name: Build
on:
  push:
    branches: [ main, 'release/*' ]
  pull_request:
    branches: [ main, 'release/*' ]

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      actions: read
      checks: read
      contents: read
    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Run PSRule self analysis
      shell: pwsh
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        . ./.azure-pipelines/pipeline-deps.ps1
        Invoke-Build Build -AssertStyle GitHubActions
        Invoke-Build IntegrationTest -AssertStyle GitHubActions
